In [42]:
import mariadb
import sys

In [43]:
try:
    conn = mariadb.connect(
        user="root",
        password="P@$$w0Rd87",
        host="thirteen.myds.me",
        port=3306,
        database="stock",
        autocommit=True
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

In [45]:
individual = "1,2,3,4,5"
result = 100
cur.execute("INSERT INTO Params (param,result) VALUES (?, NULL)", (individual,))
# try:
#     cur.execute("INSERT INTO Params (param,result) VALUES (?, ?)", (individual,))
# except mariadb.Error as e:
#     print(f"Error: {e}")

In [46]:
conn.close()