In [7]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [25]:
def create_server_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection
    
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

def clear_table(connection,tableName):
    query = 'DELETE FROM ' + tableName + ';'
    execute_query(connection=connection, query = query)

def addIndividual(connection, tableName, params):
    query = "INSERT INTO " + tableName + " VALUES(" + params + ",0,-1,0,0);"
    print(query)
    execute_query(connection=connection, query = query)

def getUnevalIndividual(connection, tableName):
    mycursor = connection.cursor()
    mycursor.execute("SELECT * FROM " + str(tableName) + " WHERE EVAL = -1")
    myresult = mycursor.fetchone()
    if myresult == None:
        return
    individual = myresult[0]
    updateIndividual(connection, tableName, 'EVAL', 0, 'param', individual)
    return eval(individual)

def updateIndividual(connection, tableName, colName, val, identifierCol, identifierVal):
    query = "UPDATE " + tableName + " set " + colName + " = " + str(val) + " where " + identifierCol + " = \'" + str(identifierVal) + "\'"
    print(query)
    execute_query(connection=connection, query= query)

In [9]:
connection = create_server_connection('thirteen.myds.me', 'root', 'P@$$w0Rd87','stock')

MySQL Database connection successful

In [20]:
query = """
CREATE TABLE param (
  param TEXT(500),
  gen INTEGER,
  EVAL INTEGER,
  fitnessSharpe DOUBLE,
  fitnessReturn DOUBLE
);
 """

In [21]:
execute_query(connection=connection, query=query)

Query successful

In [20]:
addIndividual(connection, 'param', '\'[0.1020997689803123, 2.0461596631517, 0.22121892606347174, 1.0666993301073004, 1.0353407373715584, 1.2710423737405985, 0.9860042149549277, 1.0123026019488939, 1.2102870005244621, 0.9919052053327096, -0.1336474907879132, 0.9182629595316929, 1.0046520129198244, 0.8435708226246854, 0.9825034234951291]\'')

INSERT INTO param VALUES('[0.1020997689803123, 2.0461596631517, 0.22121892606347174, 1.0666993301073004, 1.0353407373715584, 1.2710423737405985, 0.9860042149549277, 1.0123026019488939, 1.2102870005244621, 0.9919052053327096, -0.1336474907879132, 0.9182629595316929, 1.0046520129198244, 0.8435708226246854, 0.9825034234951291]',0,-1,0,0);
Query successful

In [5]:
updateIndividual(connection, 'param', 'EVAL', 0, 'param', '[0.3020997689803123, 2.0461596631517, 0.22121892606347174, 1.0666993301073004, 1.0353407373715584, 1.2710423737405985, 0.9860042149549277, 1.0123026019488939, 1.2102870005244621, 0.9919052053327096, -0.1336474907879132, 0.9182629595316929, 1.0046520129198244, 0.8435708226246854, 0.9825034234951291]')

UPDATE param set EVAL = 0 where param = '[0.3020997689803123, 2.0461596631517, 0.22121892606347174, 1.0666993301073004, 1.0353407373715584, 1.2710423737405985, 0.9860042149549277, 1.0123026019488939, 1.2102870005244621, 0.9919052053327096, -0.1336474907879132, 0.9182629595316929, 1.0046520129198244, 0.8435708226246854, 0.9825034234951291]'
Query successful

In [26]:
print(getUnevalIndividual(connection=connection, tableName='param'))

UPDATE param set EVAL = 0 where param = '[0.1020997689803123, 2.0461596631517, 0.22121892606347174, 1.0666993301073004, 1.0353407373715584, 1.2710423737405985, 0.9860042149549277, 1.0123026019488939, 1.2102870005244621, 0.9919052053327096, -0.1336474907879132, 0.9182629595316929, 1.0046520129198244, 0.8435708226246854, 0.9825034234951291]'
Query successful
[0.1020997689803123, 2.0461596631517, 0.22121892606347174, 1.0666993301073004, 1.0353407373715584, 1.2710423737405985, 0.9860042149549277, 1.0123026019488939, 1.2102870005244621, 0.9919052053327096, -0.1336474907879132, 0.9182629595316929, 1.0046520129198244, 0.8435708226246854, 0.9825034234951291]