In [1]:
## IMPORTS


from stage import getStage

In [3]:
# today = date.today()
# ticker = "AMZN"
# startDate = today - timedelta(weeks=200)
# threeDays = today - timedelta(days=3)
# today = today.strftime('%Y-%m-%d')
# startDate = startDate.strftime('%Y-%m-%d')
# df = get_data(ticker, start_date=startDate, end_date=today, index_as_date = True, interval="1wk")
# weights = np.arange(1,31)
# sumWeights = np.sum(weights)
# df['WMA30'] = df['close'].rolling(window=30).apply(lambda x: np.sum(weights*x)/sumWeights)
# df

getStage("AAPL")

                 close   Stage
2018-10-01   56.072498
2018-10-08   55.527500   Slope
2018-10-15   54.827499  Volume
2018-10-22   54.075001  Volume
2018-10-29   51.869999   Slope
...                ...     ...
2021-12-20  176.279999  Volume
2021-12-27  177.570007  Volume
2022-01-03  172.169998   Slope
2022-01-10  173.070007  Volume
2022-01-14  173.070007  Volume

[173 rows x 2 columns]