In [6]:
import yahoo_fin.stock_info as yf
import pandas as pd
from stage import fullPrint
import random
from datetime import datetime, timedelta
import numpy as np
nyseDf = pd.read_html('stockList.html')
nyseDf = pd.DataFrame(nyseDf[0][0])
nyseList = []
for row in nyseDf.iterrows():
    ticker = str(row[1]).split()[1]
    if ticker == "Symbol":
        continue
    nyseList.append(ticker)
allList = []
nasdaqList = yf.tickers_nasdaq()
allList = nasdaqList + nyseList
tenYearSum = [0 for i in range(7)]
curSum = [0 for i in range(7)]
j = 0
random.shuffle(allList)
listOfStocks = [[] for i in range(4)]
for i in range(len(allList)):
    listOfStocks[i%4].append(allList[i])
    # try:
    #     df = pd.read_pickle("stockData/nyseNasdaq/"+allList[i]+".pkl")
    # except:
    #     pass
    # try:
    #     # drift = df.index[0].weekday()
    #     # start = pd.to_datetime('2018-02-12',format = '%Y-%m-%d')
    #     # end = pd.to_datetime('2022-01-10',format = '%Y-%m-%d')
    #     # start = start + timedelta(days= drift)
    #     # end = end + timedelta(days=drift)
    #     a = df.iat[0,0]
    #     b = df.iat[-1,0]
    #     length = len(df.index)/52
    #     # print(j%7,": first:",df.at[pd.to_datetime('2012-01-09',format = '%Y-%m-%d'),'close'],"second:",df.at[pd.to_datetime('2022-01-10',format = '%Y-%m-%d'),'close'])
    #     if a != 0 and length > 3:
    #         curSum[j%4] += (b/a)**(1/length)
    #         print((b/a)**(1/length))
    #         j = j + 1
    #     # print(j%7,curSum[j%7], tenYearSum[j%7])
        
    # except:
    #     print(allList[i],"did not exist then")

In [9]:
def calculateGroupReturn(list):
    monthlyReturn = pd.read_pickle("transactionTemplate.pkl")
    monthlyReturn = monthlyReturn.resample('M').mean()
    monthlyReturn.index = 
    print(monthlyReturn)
    for symbol in list:
        try:
            df = pd.read_pickle("stockData/nyseNasdaq/"+symbol+".pkl")
            print(symbol)
            monthlyReturn[ticker] = 0
        except:
            continue
        if not (df['close'] != 0).all():
            continue
        # for index, element in df.iterrows():

In [10]:
i = 0
for l in listOfStocks:
    calculateGroupReturn(l)

Empty DataFrame
Columns: []
Index: [1995-01-31 00:00:00, 1995-02-28 00:00:00, 1995-03-31 00:00:00, 1995-04-30 00:00:00, 1995-05-31 00:00:00, 1995-06-30 00:00:00, 1995-07-31 00:00:00, 1995-08-31 00:00:00, 1995-09-30 00:00:00, 1995-10-31 00:00:00, 1995-11-30 00:00:00, 1995-12-31 00:00:00, 1996-01-31 00:00:00, 1996-02-29 00:00:00, 1996-03-31 00:00:00, 1996-04-30 00:00:00, 1996-05-31 00:00:00, 1996-06-30 00:00:00, 1996-07-31 00:00:00, 1996-08-31 00:00:00, 1996-09-30 00:00:00, 1996-10-31 00:00:00, 1996-11-30 00:00:00, 1996-12-31 00:00:00, 1997-01-31 00:00:00, 1997-02-28 00:00:00, 1997-03-31 00:00:00, 1997-04-30 00:00:00, 1997-05-31 00:00:00, 1997-06-30 00:00:00, 1997-07-31 00:00:00, 1997-08-31 00:00:00, 1997-09-30 00:00:00, 1997-10-31 00:00:00, 1997-11-30 00:00:00, 1997-12-31 00:00:00, 1998-01-31 00:00:00, 1998-02-28 00:00:00, 1998-03-31 00:00:00, 1998-04-30 00:00:00, 1998-05-31 00:00:00, 1998-06-30 00:00:00, 1998-07-31 00:00:00, 1998-08-31 00:00:00, 1998-09-30 00:00:00, 1998-10-31 00:00:00, 1998-11-30 00:00:00, 1998-12-31 00:00:00, 1999-01-31 00:00:00, 1999-02-28 00:00:00, 1999-03-31 00:00:00, 1999-04-30 00:00:00, 1999-05-31 00:00:00, 1999-06-30 00:00:00, 1999-07-31 00:00:00, 1999-08-31 00:00:00, 1999-09-30 00:00:00, 1999-10-31 00:00:00, 1999-11-30 00:00:00, 1999-12-31 00:00:00, 2000-01-31 00:00:00, 2000-02-29 00:00:00, 2000-03-31 00:00:00, 2000-04-30 00:00:00, 2000-05-31 00:00:00, 2000-06-30 00:00:00, 2000-07-31 00:00:00, 2000-08-31 00:00:00, 2000-09-30 00:00:00, 2000-10-31 00:00:00, 2000-11-30 00:00:00, 2000-12-31 00:00:00, 2001-01-31 00:00:00, 2001-02-28 00:00:00, 2001-03-31 00:00:00, 2001-04-30 00:00:00, 2001-05-31 00:00:00, 2001-06-30 00:00:00, 2001-07-31 00:00:00, 2001-08-31 00:00:00, 2001-09-30 00:00:00, 2001-10-31 00:00:00, 2001-11-30 00:00:00, 2001-12-31 00:00:00, 2002-01-31 00:00:00, 2002-02-28 00:00:00, 2002-03-31 00:00:00, 2002-04-30 00:00:00, 2002-05-31 00:00:00, 2002-06-30 00:00:00, 2002-07-31 00:00:00, 2002-08-31 00:00:00, 2002-09-30 00:00:00, 2002-10-31 00:00:00, 2002-11-30 00:00:00, 2002-12-31 00:00:00, 2003-01-31 00:00:00, 2003-02-28 00:00:00, 2003-03-31 00:00:00, 2003-04-30 00:00:00, ...]

[325 rows x 0 columns]
Empty DataFrame
Columns: []
Index: [1995-01-31 00:00:00, 1995-02-28 00:00:00, 1995-03-31 00:00:00, 1995-04-30 00:00:00, 1995-05-31 00:00:00, 1995-06-30 00:00:00, 1995-07-31 00:00:00, 1995-08-31 00:00:00, 1995-09-30 00:00:00, 1995-10-31 00:00:00, 1995-11-30 00:00:00, 1995-12-31 00:00:00, 1996-01-31 00:00:00, 1996-02-29 00:00:00, 1996-03-31 00:00:00, 1996-04-30 00:00:00, 1996-05-31 00:00:00, 1996-06-30 00:00:00, 1996-07-31 00:00:00, 1996-08-31 00:00:00, 1996-09-30 00:00:00, 1996-10-31 00:00:00, 1996-11-30 00:00:00, 1996-12-31 00:00:00, 1997-01-31 00:00:00, 1997-02-28 00:00:00, 1997-03-31 00:00:00, 1997-04-30 00:00:00, 1997-05-31 00:00:00, 1997-06-30 00:00:00, 1997-07-31 00:00:00, 1997-08-31 00:00:00, 1997-09-30 00:00:00, 1997-10-31 00:00:00, 1997-11-30 00:00:00, 1997-12-31 00:00:00, 1998-01-31 00:00:00, 1998-02-28 00:00:00, 1998-03-31 00:00:00, 1998-04-30 00:00:00, 1998-05-31 00:00:00, 1998-06-30 00:00:00, 1998-07-31 00:00:00, 1998-08-31 00:00:00, 1998-09-30 00:00:00, 1998-10-31 00:00:00, 1998-11-30 00:00:00, 1998-12-31 00:00:00, 1999-01-31 00:00:00, 1999-02-28 00:00:00, 1999-03-31 00:00:00, 1999-04-30 00:00:00, 1999-05-31 00:00:00, 1999-06-30 00:00:00, 1999-07-31 00:00:00, 1999-08-31 00:00:00, 1999-09-30 00:00:00, 1999-10-31 00:00:00, 1999-11-30 00:00:00, 1999-12-31 00:00:00, 2000-01-31 00:00:00, 2000-02-29 00:00:00, 2000-03-31 00:00:00, 2000-04-30 00:00:00, 2000-05-31 00:00:00, 2000-06-30 00:00:00, 2000-07-31 00:00:00, 2000-08-31 00:00:00, 2000-09-30 00:00:00, 2000-10-31 00:00:00, 2000-11-30 00:00:00, 2000-12-31 00:00:00, 2001-01-31 00:00:00, 2001-02-28 00:00:00, 2001-03-31 00:00:00, 2001-04-30 00:00:00, 2001-05-31 00:00:00, 2001-06-30 00:00:00, 2001-07-31 00:00:00, 2001-08-31 00:00:00, 2001-09-30 00:00:00, 2001-10-31 00:00:00, 2001-11-30 00:00:00, 2001-12-31 00:00:00, 2002-01-31 00:00:00, 2002-02-28 00:00:00, 2002-03-31 00:00:00, 2002-04-30 00:00:00, 2002-05-31 00:00:00, 2002-06-30 00:00:00, 2002-07-31 00:00:00, 2002-08-31 00:00:00, 2002-09-30 00:00:00, 2002-10-31 00:00:00, 2002-11-30 00:00:00, 2002-12-31 00:00:00, 2003-01-31 00:00:00, 2003-02-28 00:00:00, 2003-03-31 00:00:00, 2003-04-30 00:00:00, ...]

[325 rows x 0 columns]
Empty DataFrame
Columns: []
Index: [1995-01-31 00:00:00, 1995-02-28 00:00:00, 1995-03-31 00:00:00, 1995-04-30 00:00:00, 1995-05-31 00:00:00, 1995-06-30 00:00:00, 1995-07-31 00:00:00, 1995-08-31 00:00:00, 1995-09-30 00:00:00, 1995-10-31 00:00:00, 1995-11-30 00:00:00, 1995-12-31 00:00:00, 1996-01-31 00:00:00, 1996-02-29 00:00:00, 1996-03-31 00:00:00, 1996-04-30 00:00:00, 1996-05-31 00:00:00, 1996-06-30 00:00:00, 1996-07-31 00:00:00, 1996-08-31 00:00:00, 1996-09-30 00:00:00, 1996-10-31 00:00:00, 1996-11-30 00:00:00, 1996-12-31 00:00:00, 1997-01-31 00:00:00, 1997-02-28 00:00:00, 1997-03-31 00:00:00, 1997-04-30 00:00:00, 1997-05-31 00:00:00, 1997-06-30 00:00:00, 1997-07-31 00:00:00, 1997-08-31 00:00:00, 1997-09-30 00:00:00, 1997-10-31 00:00:00, 1997-11-30 00:00:00, 1997-12-31 00:00:00, 1998-01-31 00:00:00, 1998-02-28 00:00:00, 1998-03-31 00:00:00, 1998-04-30 00:00:00, 1998-05-31 00:00:00, 1998-06-30 00:00:00, 1998-07-31 00:00:00, 1998-08-31 00:00:00, 1998-09-30 00:00:00, 1998-10-31 00:00:00, 1998-11-30 00:00:00, 1998-12-31 00:00:00, 1999-01-31 00:00:00, 1999-02-28 00:00:00, 1999-03-31 00:00:00, 1999-04-30 00:00:00, 1999-05-31 00:00:00, 1999-06-30 00:00:00, 1999-07-31 00:00:00, 1999-08-31 00:00:00, 1999-09-30 00:00:00, 1999-10-31 00:00:00, 1999-11-30 00:00:00, 1999-12-31 00:00:00, 2000-01-31 00:00:00, 2000-02-29 00:00:00, 2000-03-31 00:00:00, 2000-04-30 00:00:00, 2000-05-31 00:00:00, 2000-06-30 00:00:00, 2000-07-31 00:00:00, 2000-08-31 00:00:00, 2000-09-30 00:00:00, 2000-10-31 00:00:00, 2000-11-30 00:00:00, 2000-12-31 00:00:00, 2001-01-31 00:00:00, 2001-02-28 00:00:00, 2001-03-31 00:00:00, 2001-04-30 00:00:00, 2001-05-31 00:00:00, 2001-06-30 00:00:00, 2001-07-31 00:00:00, 2001-08-31 00:00:00, 2001-09-30 00:00:00, 2001-10-31 00:00:00, 2001-11-30 00:00:00, 2001-12-31 00:00:00, 2002-01-31 00:00:00, 2002-02-28 00:00:00, 2002-03-31 00:00:00, 2002-04-30 00:00:00, 2002-05-31 00:00:00, 2002-06-30 00:00:00, 2002-07-31 00:00:00, 2002-08-31 00:00:00, 2002-09-30 00:00:00, 2002-10-31 00:00:00, 2002-11-30 00:00:00, 2002-12-31 00:00:00, 2003-01-31 00:00:00, 2003-02-28 00:00:00, 2003-03-31 00:00:00, 2003-04-30 00:00:00, ...]

[325 rows x 0 columns]
Empty DataFrame
Columns: []
Index: [1995-01-31 00:00:00, 1995-02-28 00:00:00, 1995-03-31 00:00:00, 1995-04-30 00:00:00, 1995-05-31 00:00:00, 1995-06-30 00:00:00, 1995-07-31 00:00:00, 1995-08-31 00:00:00, 1995-09-30 00:00:00, 1995-10-31 00:00:00, 1995-11-30 00:00:00, 1995-12-31 00:00:00, 1996-01-31 00:00:00, 1996-02-29 00:00:00, 1996-03-31 00:00:00, 1996-04-30 00:00:00, 1996-05-31 00:00:00, 1996-06-30 00:00:00, 1996-07-31 00:00:00, 1996-08-31 00:00:00, 1996-09-30 00:00:00, 1996-10-31 00:00:00, 1996-11-30 00:00:00, 1996-12-31 00:00:00, 1997-01-31 00:00:00, 1997-02-28 00:00:00, 1997-03-31 00:00:00, 1997-04-30 00:00:00, 1997-05-31 00:00:00, 1997-06-30 00:00:00, 1997-07-31 00:00:00, 1997-08-31 00:00:00, 1997-09-30 00:00:00, 1997-10-31 00:00:00, 1997-11-30 00:00:00, 1997-12-31 00:00:00, 1998-01-31 00:00:00, 1998-02-28 00:00:00, 1998-03-31 00:00:00, 1998-04-30 00:00:00, 1998-05-31 00:00:00, 1998-06-30 00:00:00, 1998-07-31 00:00:00, 1998-08-31 00:00:00, 1998-09-30 00:00:00, 1998-10-31 00:00:00, 1998-11-30 00:00:00, 1998-12-31 00:00:00, 1999-01-31 00:00:00, 1999-02-28 00:00:00, 1999-03-31 00:00:00, 1999-04-30 00:00:00, 1999-05-31 00:00:00, 1999-06-30 00:00:00, 1999-07-31 00:00:00, 1999-08-31 00:00:00, 1999-09-30 00:00:00, 1999-10-31 00:00:00, 1999-11-30 00:00:00, 1999-12-31 00:00:00, 2000-01-31 00:00:00, 2000-02-29 00:00:00, 2000-03-31 00:00:00, 2000-04-30 00:00:00, 2000-05-31 00:00:00, 2000-06-30 00:00:00, 2000-07-31 00:00:00, 2000-08-31 00:00:00, 2000-09-30 00:00:00, 2000-10-31 00:00:00, 2000-11-30 00:00:00, 2000-12-31 00:00:00, 2001-01-31 00:00:00, 2001-02-28 00:00:00, 2001-03-31 00:00:00, 2001-04-30 00:00:00, 2001-05-31 00:00:00, 2001-06-30 00:00:00, 2001-07-31 00:00:00, 2001-08-31 00:00:00, 2001-09-30 00:00:00, 2001-10-31 00:00:00, 2001-11-30 00:00:00, 2001-12-31 00:00:00, 2002-01-31 00:00:00, 2002-02-28 00:00:00, 2002-03-31 00:00:00, 2002-04-30 00:00:00, 2002-05-31 00:00:00, 2002-06-30 00:00:00, 2002-07-31 00:00:00, 2002-08-31 00:00:00, 2002-09-30 00:00:00, 2002-10-31 00:00:00, 2002-11-30 00:00:00, 2002-12-31 00:00:00, 2003-01-31 00:00:00, 2003-02-28 00:00:00, 2003-03-31 00:00:00, 2003-04-30 00:00:00, ...]

[325 rows x 0 columns]